/*Dashboard Header*/
.skin-blue .main-header .logo {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(68, 76, 56);
  color: rgb(255,255,255);
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}

/*Dashboard Header when Hovered*/
.skin-blue .main-header .logo:hover {
  background-color: rgb(58, 66, 46);
}

/* toggle button color  */
.skin-blue .main-header .navbar .sidebar-toggle{
  background-color: rgb(58, 66, 46);color:rgb(255,255,255);
}

/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: rgb(68, 76, 56);color:rgb(0,0,0);
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: rgb(68, 76, 56);
}

/*Main Body*/
.skin-blue .main-body {
  background-color: rgb(0,0,0);
  align-content: center;
}

.skin-blue .sidebar-menu {
  margin-bottom: 200;
  padding-bottom: 100px;
}

.menu_class {
  align-content: center;
  font-size: 18px;
  text-align: center;
  list-style: none;
  background-image: url("./images/SideBar_transparent.png");
  background-color: rgb(0,0,0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: absolute;
  margin: 0;
  top: 50px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding-bottom: 100px;
}
